/* 
    Document   : error
    Created on : 2014-4-23, 10:36:59
    Author     : wangtianxia
    Description:
        Purpose of the stylesheet follows.
*/

.errorMainInfor {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}