/* 
    Document   : list
    Created on : 2014-4-15, 15:55:38
    Author     : wangtianxia
    Description:
        Purpose of the stylesheet follows.
*/


.imgDiv {
    padding-top: 40px;
}

.images {
    width: 250px;
    height: 320px;
}
